header.default-container
    .header-container
        .top-logo
            a(href="#logo")
                img(src=require('../images/screen1/logo.png'))
        .lang-switch
            a(href='#') ENG
                span
            a.active(href='#') RUS
                span
        .toggle-hamburger.toggle-hamburger__animx#toggle-hamburger
            span
        nav#side-menu
            ul
                li
                    a.nav-button(href='') Проекты
                        span
                li
                    a.nav-button(href='') Услуги
                        span
                li
                    a.nav-button(href='') Инвестирование
                        span
                li
                    a.nav-button(href='') Вакансии
                        span
                li
                    a.nav-button(href='') Контакты
                        span
                


                