@import "../../components/globalVars";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
// @font-face {
// 	font-family: "Montserrat";
// 	src: url(http://allfont.ru/allfont.css?fonts=montserrat);
// }

html body{
  	background-color: #F4F5F9;
	font-family: 'Montserrat', sans-serif;
	user-select: none;
	position: relative;
	p{
		margin: 0;
		color: #000000;
	}
	margin: 0;
	padding: 0;
}
.header{
	height: 180px;
	z-index: 100;
	position: relative;
	.logotip{
		display: flex;
		justify-content: center;
		.logo{
			width: 100px;
			height: 30px;
			margin-left: 75px;
			margin-top: 80px;
		}
		.language{
			label{
				display: inline-block;
				margin-top: 82px;
				width: 18px;
				height: 15px;
				font-style: normal;
				font-weight: bold;
				font-size: 12px;
				line-height: normal;
				cursor: pointer;
				color: #CBCBCC;
			}
			input{
				display: none;
			}
			input:checked + label {
				color: #8C8C8C;
			}
			.rus{
				margin-left: 30px;
				// color: #CBCBCC;
			}
			.eng{
				margin-left: 15px;
				// color: #8C8C8C;
			}
		}
	}
	.routing{
		display: flex;
		justify-content: center;
		p{
			margin-top: 80px;
			margin-right: 50px;
			font-style: normal;
			font-weight: 900;
			font-size: 16px;
			line-height: normal;
			cursor: pointer;
			transition: color 0.25s;
		}
		p:hover{
			color: #808080;
			transition: color 0.25s;
		}
	}
	.callback{
		display: flex;
		justify-content: flex-start;
		margin-top: 79px;
		.nomber{
			margin-left: 20px;
			font-style: normal;
			font-weight: 900;
			font-size: 18px;
			line-height: normal;
		}
		.order{
			cursor: pointer;
			padding-top: 4px;
			margin-left: 30px;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: normal;
			color: #543DCC;
			border-bottom: 1px dashed #543DCC;
		}
		.order:hover{
			border-bottom: none;
		}
	}
}
.main{
	width: 50%;
	.content{
		float: left;
		z-index: 100;
		p.headline{
			margin-top: 145px;
			margin-left: 275px;
			font-style: normal;
			font-weight: 300;
			font-size: 75px;
			line-height: normal;
			width: 670px;
		}
		p.paragraph{
			margin-top: 44px;
			margin-left: 275px;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 38px;
			color: #808080;
			width: 670px;
		}
		p.tellproject{
			cursor: pointer;
			display: inline-block;
			padding: 21px 24px 21px 24px;
			margin-left: 275px;
			margin-top: 169px;
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: normal;
			color: #543DCC;
			border: 2px solid #543DCC;
			box-sizing: border-box;
			transition: background 1s, color 1s;
			width: 270px;
		}
		p.tellproject:hover{
			background: #543DCC;
			color: #FFFFFF;
			transition: background 1s, color 1s;
		}
	}
}
.graphic{
	width: 100%;
	position: relative;
	.background-figure{
		z-index: 0;
		position: absolute;
		left: 0px;
		top: 590px;
	}
	.background-field{
		z-index: 0;
		position: absolute;
		right: 0px;
		top: 71px;
	}
	.exposure-1{
		position: absolute;
		right: 712px;
		top: 275px;
		z-index: 10;
		.man{
			z-index: 10;
			position: absolute;
			top: 27px;
			right: 57px;
			animation-name: fly-man;
			animation-duration: 8s;
			animation-iteration-count: infinite;
			transition: top 1s;
		}
		.man:hover + .info{
			opacity: 1;
			transition: opacity 0.5s;
		}
		.info{
			position: absolute;
			color: #000000;
			top: -50px;
			right: 155px;
			z-index: 20;
			width: 123px;
			opacity: 0;
			transition: opacity 0.5s;
			.headline{
				font-style: normal;
				font-weight: 300;
				font-size: 34px;
				line-height: 41px;
				span{
					font-size: 20px;
				}
			}
			.paragraph{
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 16px;
			}
		}
		.board{
			right: 0px;
			position: absolute;
			#column-1 {
				.animateRect(column-1, 8s, 'M 15.5637 71.3027 V 62.7831 L 22.6288 64.861 V 73.3807 L 15.5637 71.3027 Z', ease);
			}
			#column-2 {
				.animateRect(column-2, 5s, 'M 33.2264 75.7183 V 39.8215 L 40.2915 41.8995 V 77.7963 L 33.2264 75.7183 Z', ease-in-out);
			}
			#column-3 {
				.animateRect(column-3, 10s, 'M 50.889 81.0172 V 65.4325 L 57.9541 67.5105 V 83.0952 L 50.889 81.0172 Z', ease-out);
			}
			#column-4 {
				.animateRect(column-4, 13s, 'M 68.5518 86.316 V 38.0553 L 75.6168 40.1333 V 88.3939 L 68.5518 86.316 Z', ease-in);
			}
			#column-5 {
				.animateRect(column-5, 7s, 'M 86.2145 91.6148 V 55.718 L 93.2796 57.796 V 93.6928 L 86.2145 91.6148 Z', linear);
			}
			
		}
	}
	.exposure-2{
		position: absolute;
		right: 230px;
		top: 197px;
		z-index: 10;
		.man{
			position: absolute;
			top: 88px;
			right: 15px;
			z-index: 10;
			.arm {
				position: absolute;
				&.shoulder {
					top: 51px;
					right: 0px;
				}
				&.pointer {
					top: 1px;
					right: -20px;
					animation: exposure-5-arm-poiner 5s linear 0s infinite;
					transform-origin: bottom;
				}
			}
		}
		.man:hover + .info{
			opacity: 1;
			transition: opacity 0.5s;
		}
		.info{
			position: absolute;
			color: #000000;
			top: 106px;
			right: 112px;
			z-index: 20;
			width: 123px;
			opacity: 0;
			transition: opacity 0.5s;
			.headline{
				font-style: normal;
				font-weight: 300;
				font-size: 34px;
				line-height: 41px;
			}
			.paragraph{
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 16px;
			}
		}
		.board{
			right: 0px;
			top: 0;
			position: absolute;
			.circle-pointer {
				r: 1.91464;
				visibility:hidden;
				animation: exposure-2-circle-pointer 5s linear 0s infinite;
			}
			.graphic-1 {
				position: absolute;
				top: 44px;
				left: 87px;
				.animateGraphic(exposure-2-graphic, 6s, 7s, 8s);
			}
			
			.graphic-2 {
				position: absolute;
				top: 88px;
    			left: 87px;
				.animateGraphic(exposure-2-graphic-back, 12s, 14s, 16s);
			}
			.graphic-lines {
				d: path('M 14.1301 72.5476 L 25.6109 63.7163 L 37.0916 51.3524 L 48.5724 54.885 L 60.0531 41.6379');
			}
			.graphic-point-1 {
				d: path('M 14.1302 74.7555 C 15.1056 74.7555 15.8964 73.767 15.8964 72.5477 C 15.8964 71.3283 15.1056 70.3398 14.1302 70.3398 C 13.1547 70.3398 12.3639 71.3283 12.3639 72.5477 C 12.3639 73.767 13.1547 74.7555 14.1302 74.7555Z');
			}
		}
	}
	.exposure-3{
		position: absolute;
		right: 449px;
		top: 636px;
		z-index: 10;
		.man{
			position: absolute;
			top: 0;
			right: 0;
			.foot {
				position: absolute;
				top: 122px;
				right: 134px;
				z-index: 10;
			}
			#left-foot {
				animation: exposure-3-foot 12s linear 0s infinite;
				transform-origin: right;
			}
			.right-foot {
				right: 31px;
    			top: 5px;
			}
			.man__body {
				position: absolute;
				right: 0;
				top:0;
				z-index: 15;
			}
		}
		.man:hover + .info{
			opacity: 1;
			transition: opacity 0.5s;
		}
		.info{
			position: absolute;
			color: #000000;
			top: -33px;
			right: 98px;
			z-index: 20;
			width: 219px;
			opacity: 0;
			transition: opacity 0.5s;
			.headline{
				font-style: normal;
				font-weight: 300;
				font-size: 34px;
				line-height: 41px;
			}
			.paragraph{
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 16px;
			}
		}
	}
	.exposure-4{
		position: absolute;
		right: 0;
		top: 541px;
		z-index: 10;
		.man{
			position: absolute;
			top: 0px;
			right: 0;
			.arm {
				position: absolute;
				&.shoulder {
					top: 72px;
					left: 49px;
					animation: exposure-4-arm-shoulder 5s linear 0s infinite;
					transform-origin: right;
				}
				&.pointer {
					top: 84px;
					left: -7px;
					animation: exposure-4-arm-poiner 5s linear 0s infinite;
					transform-origin: center;
				}
			}
		}
		.board{
			right: 0px;
			top: 121px;
			position: absolute;
		}
	}
	.exposure-4:hover + .info{
		opacity: 1;
		transition: opacity 0.5s;
	}
	.info{
		position: absolute;
		color: #000000;
		top: 560px;
		right: 115px;
		z-index: 20;
		width: 86px;
		opacity: 0;
		transition: opacity 0.5s;
		.headline{
			font-style: normal;
			font-weight: 300;
			font-size: 34px;
			line-height: 41px;
		}
		.paragraph{
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 16px;
		}
	}

}
.keyframes(column-1, 'M 15.5637 71.3027 V 62.7831 L 22.6288 64.861 V 73.3807 L 15.5637 71.3027 Z', 'M 15.5637 71.3027 V 40.7831 L 22.6288 42.861 V 73.3807 L 15.5637 71.3027 Z');
.keyframes(column-2, 'M 33.2264 75.7183 V 39.8215 L 40.2915 41.8995 V 77.7963 L 33.2264 75.7183 Z', 'M 33.2264 75.7183 V 69.8215 L 40.2915 71.8995 V 77.7963 L 33.2264 75.7183 Z');
.keyframes(column-3, 'M 50.889 81.0172 V 65.4325 L 57.9541 67.5105 V 83.0952 L 50.889 81.0172 Z', 'M 50.889 81.0172 V 35.4325 L 57.9541 37.5105 V 83.0952 L 50.889 81.0172 Z');
.keyframes(column-4, 'M 68.5518 86.316 V 38.0553 L 75.6168 40.1333 V 88.3939 L 68.5518 86.316 Z', 'M 68.5518 86.316 V 68.0553 L 75.6168 70.1333 V 88.3939 L 68.5518 86.316 Z');
.keyframes(column-5, 'M 86.2145 91.6148 V 55.718 L 93.2796 57.796 V 93.6928 L 86.2145 91.6148 Z', 'M 86.2145 91.6148 V 30.718 L 93.2796 32.796 V 93.6928 L 86.2145 91.6148 Z');
.keyframes-graphic(exposure-2-graphic, 360deg);
.keyframes-graphic(exposure-2-graphic-back, -360deg);

@keyframes fly-man {
	0% {
		transform: translate(0, 0);
	}

	49% {
		transform: translate(0,10%);
	}
}
.position {
	position: relative;
}
@keyframes exposure-3-foot {
    50% {transform:rotate(0deg);}
	55% {transform:rotate(5deg);}
	60% {transform:rotate(0deg);}
	65% {transform:rotate(5deg);}
	70% {transform:rotate(0deg);}
	75% {transform:rotate(5deg);}
	80% {transform:rotate(0deg);}
}

@keyframes exposure-4-arm-shoulder {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(15deg);}
}

@keyframes exposure-4-arm-poiner {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(-15deg);}
}

@keyframes exposure-5-arm-poiner {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(-15deg);}
}

@keyframes exposure-2-circle-pointer {
	0% {r: 1.91464;visibility:visible;opacity: 1;}
    10% {r: 5.91464;visibility:hidden;opacity: 0;}
    100% {visibility:hidden;}
}