@import "../../components/globalVars";
@import "../../components/UI/uiMixins";
@import "../../components/UI/projectPlate";
@import "../../components/UI/infoPlates";



html body{
  background-color: white;
  font-family: "Roboto Regular";
}
header{
  background-color: @headerBgColor;
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  h1{
    color: white;
    text-align: center;
    font-size: @headerFS;
  }
  .ball{
    margin-top: 5px;
  }
}

.black-overlay{
  position: absolute;
  width: 100%;
  height: 178vh;
  background: @overlayColor;
  top: 54px;
}
.arenda-block__top-text{
  position: relative;
}
.arenda-block{
  margin: 20px 0;
  position: relative;
  margin-left: 22px;
  margin-right: 22px;
  height: 170px;
  border-radius: @blockRadius;
  background-color: black;
  overflow: hidden;
  .white-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: @blockOverlay;
  }
  &:nth-child(2){
    background: url("../../components/images/index/block2.jpg") center center;
  }
  //background: center;
  &:nth-child(3) {
    background: url("../../components/images/index/block1.jpg") center center;
  }
  &:nth-child(4){
    background: url("../../components/images/index/block3.jpg") center center;
  }
  .name{
    color: white;
    float: left;
    font-size: @blockNameSize;
    margin: 15px 10px;
  }
  .price{
    float: right;
    color: white;
    background-color: @priceColor;
    padding: 3px 5px;
    border-radius: 15px;
    margin: 15px 10px;
    p{
      font-size: @blockPriceS;
      font-family: "Roboto Bold";
      margin: 0;
    }
  }
  .arenda-block__info{
    position: absolute;
    bottom: 20px;
    left:calc(50vw ~"-" 130px);
    .info{
      color: white;
      font-size: @blockTextS;
      text-align: center;
    }
    
  }
}
.info-content{
  padding: 30px 13px;
  font-size: 15px;
  margin: 20px 0;
  position: relative;
  margin-left: 22px;
  margin-right: 22px;
  border-radius: @blockRadius;
  background-color: white;
  button{
    margin: 0 auto;
    width: 220px;
    display: block;
  }
}

.main-content{
  padding-bottom: 20px;
  padding-top: 20px;
  background: url("../../components/images/index/photo.jpg") center center fixed;
  button{
    color: white;
    font-size: @buttonTextSize;
    padding: 3px 20px;
    background-color: @buttonColor;
    border: none;
    border-radius: 15px;
    span{
      margin-left: 40px;
    }
  }
}
